.displayText{

    font-size: 50px;
    text-align: center;
    margin-top: 300px;

}


.button {
    background-color: #42773b; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 100px 2px;
    cursor: pointer;
    border-radius: 50%;
  }

#buttonStyle{
    margin-left : 1000px;
} 
.bg{
    background-image: url("/assets/homepic.jpg");
    margin: 200px;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    
}