.displayText{

    font-size: 50px;
    text-align: center;
    margin-top: 10px;

}


.button {
    background-color: #42773b; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 50%;
  }

#buttonStyle{
    margin-left : 1000px;
} 
/* .bg{
    background-image: url("/assets/homepic.jpg");
    margin: 200px;
    height: 30%;
    background-position: top;
    background-repeat: no-repeat;
    
} */

#imageBox {
    display: inline-block;
    width: 750px;
    height: 450px;
    /* margin: 10px auto 10px 10px; */
    overflow: auto;
    /* -moz-box-shadow: #555 0 0 8px; */
    /* -webkit-box-shadow: #555 0 0 8px;
    -o-box-shadow: #555 0 0 8px;
    box-shadow: #555 0 0 8px; */
    margin-left: 700px;
  }