<div id="videoRow1">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0mqZLC2URAs" frameborder="0"
        allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PwfBEgW87LU" frameborder="0"
        allowfullscreen></iframe>
    <iframe class="hide-on-small-only" width="560" height="315" src="https://www.youtube.com/embed/Sp1JmzxnXWA"
        frameborder="0" allowfullscreen></iframe>
</div>

<div id='videoRow2'>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/qkblKgmLfvQ" frameborder="0"
        allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/5PsOtmMjTyA" frameborder="0"
        allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/ctaB4OqO3BY" frameborder="0"
        allowfullscreen></iframe>
</div>