
<form>
<label for="title"> Search By Name  :</label>  
<input type="text" id="title" name="title"  [(ngModel)]="animalName">  

<button id="saveButton" (click)="getAnimalList()" > Save Changes </button> 
</form>



<tbody>
    <tr>
      <td>
        <p> Name : {{Animal[0].name}} </p>      
        <p>Location : {{Animal[0].locations}} </p>
        <p>Habitat : {{Animal[0].characteristics.habitat}} </p>
        <p>Lifespan : {{Animal[0].characteristics.lifespan}} </p>
        <p>Biggest Threat :{{Animal[0].characteristics.biggest_threat}} </p>
        <p>Diet : {{Animal[0].characteristics.diet}} </p>
       </td>

       <td>
        <p> Name : {{Animal[1].name}} </p>      
        <p>Location : {{Animal[1].locations}} </p>
        <p>Habitat : {{Animal[1].characteristics.habitat}} </p>
        <p>Lifespan : {{Animal[1].characteristics.lifespan}} </p>
        <p>Biggest Threat :{{Animal[1].characteristics.biggest_threat}} </p>
        <p>Diet : {{Animal[1].characteristics.diet}} </p>
       </td>


<br/> <br/>
     
   </tr>
  </tbody>