<br/>
<h2 id="heading">Login</h2>  <br/>
<form>
    <div class="container"> 
        <label>Username : </label> 
        <input type="text" placeholder="Enter Username" name="username" required>
        <label>Password : </label> 
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit" routerLink="/">Login</button> 
        <input type="checkbox" checked="checked"> Remember me 
        <!-- <button type="button" class="cancelbtn"> Cancel</button>  -->
        &nbsp; &nbsp; &nbsp; &nbsp;  <br/>
         Forgot <a href="#"> password? </a> 
    </div> 
</form>   
