<div class="sidenav">

	<a id="Animals" (click)="renderItem('Animals')">Animals</a>
	<a id="Plants"(click)="renderItem('Plants')" >Plants</a>
	<a id="Birds" (click)="renderItem('Birds')">Birds</a>
	<a id="Vegetables" (click)="renderItem('Vegetables')">Vegetables</a>
	<a id="Nature" (click)="renderItem('Nature')">Nature</a>
	<a id="Mountains" (click)="renderItem('Mountains')">Mountains</a>
	<a id="Trees" (click)="renderItem('Trees')">Trees</a>
	<a id="Food"(click)="renderItem('Food')">Food</a>
	
	<a id="Waterfalls" (click)="renderItem('Waterfalls')">Waterfalls</a>
	<a id="Fishes" (click)="renderItem('Fishes')">Fishes</a>
</div>

<h1 style="text-align: center"> Check and see if you can identify each image</h1>

<div class="main">
	
	<div class="imgcontainer">
	<div class="gallery" *ngFor="let image of _albums; let i=index">
	  <img src="{{image.thumb}}" (click)="open(i)" />
	</div>
	</div>

</div>
