<footer>
<div>
<button mat-fab style="color:#42773b; background-color: white;">Fb</button> &nbsp;
<button mat-fab style="color:#42773b; background-color: white;">Twitter</button> &nbsp;
<button mat-fab style="color:#42773b; background-color: white;">Github</button> &nbsp;
<button mat-fab style="color:#42773b; background-color: white;">LinkedIn</button>
</div>



    <h2>❤️ Made with love by Abdullah, Aranda & Miraj ❤️ </h2>
    <div style="padding-top: 13px;">  &copy; 2023 NatureEd, Inc. 
      </div>

</footer>






